*{
    margin:0;
    box-sizing:border-box;
}
html{
    height: 100%; 
}

/*height of html and body set to 100%, because then only the align items on body works.
Otherwise the height would be just the added height of the elements, and align items wont work.*/

body{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
   
  }

  .square{
    border: 1px solid black;
    height: 30px;
    width: 30px;
  }
  
  